__pycache__
fp-info-cache
*.sw*
.mypy_cache
*.egg-info/
.pytest_cache/
software/python/__pycache__
software/python/.coverage
software/python/.mypy_cache
.DS_store
*-backups
*.sw*
hash.h
.python-version


node_modules
